<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.insights">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme">
        <activity android:name=".student_profile"></activity>
        <activity android:name=".Junction" />
        <activity
            android:name=".Main_page"
            android:banner="@drawable/app_icon_your_company"
            android:icon="@drawable/app_icon_your_company"
            android:label="@string/title_activity_main_page"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="portrait" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginPage"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Student"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Instructor"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>