<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.insights">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">

        <activity android:name=".pdfViewActivity" />

        <activity android:name=".InstructorEditProfileActivity" />
        <activity android:name=".InstructorProfileActivity" />

        <activity android:name=".UploadVideoActivity" />
        <activity android:name=".BookUploadActivity" />
        <activity android:name=".ForumnActivity" />
        <activity android:name=".student_profile" />
        <activity android:name=".mainPageNew" />
        <activity android:name=".studentEditProfile" />
        <activity android:name=".Junction" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginPage"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Student"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Instructor"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
    </application>

</manifest>